@import "tailwindcss";

html {
  font-size: 16px;
}

a,
button {
  cursor: pointer;
}

@layer base {
  :root {
    --color-primary: #7c5cfc;
    --color-dark-bg: #161b27;
    --color-dark-primary: #191e2a;
    --color-paragraph: #90a3bf;
    --color-heading: #ffffff;
    --color-paragraph-dark: #596780;
    --color-secondary: #040815;
  }
}

@theme {
  --color-primary: #7c5cfc;
  --color-dark-bg: #161b27;
  --color-paragraph-dark: #596780;
  --color-dark-primary: #191e2a;
  --color-paragraph: #90a3bf;
  --color-secondary: #040815;
  --color-heading: #ffffff;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-plus: "Plus Jakarta Sans", sans-serif;
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .bg-dark-bg {
    background-color: var(--color-dark-bg);
  }
  .bg-dark-primary {
    background-color: var(--color-dark-primary);
  }
  .text-paragraph {
    color: var(--color-paragraph);
  }
  .text-heading {
    color: var(--color-heading);
  }
  .text-paragraph-dark {
    color: var(--color-paragraph-dark);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
}

@layer components {
  .btn {
    @apply px-4 py-3 rounded-3xl bg-primary font-medium text-sm opacity-90 hover:opacity-100 text-white;
  }
  .btn-secondary {
    @apply px-4 py-3 rounded-3xl bg-white/5 font-medium text-sm opacity-90 hover:bg-white text-white hover:text-black;
  }
  .card {
    @apply bg-dark-bg p-6 rounded-lg shadow-lg;
  }
  .smooth {
    @apply transition-all ease-in-out delay-300 duration-300;
  }
  .mx-center {
    @apply mx-auto w-full max-w-[90%];
  }
  .nav-list-item {
    @apply relative text-white;
  }
  .active-state {
    @apply bg-primary text-white rounded-3xl;
  }
}

.nav-link-active {
  color: var(--color-primary);
}
/* npx @tailwindcss/cli -i ./src/styles/input.css -o ./src/styles/output.css --watch */

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jarkata-sans/PlusJakartaSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jarkata-sans/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jarkata-sans/PlusJakartaSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jarkata-sans/PlusJakartaSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/plus-jarkata-sans/PlusJakartaSans-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}
.grid-cat-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.5rem;
}

.grid-cat-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.swiper-button-custom {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px; /* full circle */
  color: #e2e8f0;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.swiper-button-prev-custom {
  background-color: var(
    --color-paragraph-dark
  ); /* Darker background for prev button */
}
.swiper-button-next-custom {
  background-color: var(
    --color-primary
  ); /* Light purple background for next button */
}

.swiper-button-prev-custom:hover {
  background-color: #3f4253;
}
.swiper-button-next-custom:hover {
  background-color: var(--color-primary);
}

/* SVG icon styling to mimic the image */
.arrow-icon {
  stroke: #e2e8f0;
  stroke-width: 2;
  fill: none;
  transition: stroke 0.3s ease;
}
